body {
    margin-top: 30px !important;
}

div#demobox {
    background-color: #ff9b4b;
    border-bottom: 1px solid #aeaeae;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 99;
    z-index: 9999;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
        
div#demobox div { 
    padding-left: 20px; 
    line-height: 30px; 
    font-weight: bold; 
}
